rest-api-template/src/main/mule/error-handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">


	<error-handler name="globalError_Handler" doc:id="b5fc3cec-e697-48c4-8203-026ae2fcdc3b">

		<!-- APIKit router related exceptions -->
		<on-error-continue type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="33bb698f-c2ce-47d5-a024-22d9382cbce1" >
			<set-variable value="#[400]" doc:name="Set the HTTP Status - 400" doc:id="8c2756e1-34cc-4fe0-ac83-d93b1e4a8764" variableName="httpStatus"/>
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="381984e8-1c9f-401d-97e3-e8426d7bee09" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a752d1dc-8cd0-45e4-9c98-27371d0dc9cc" >
			<set-variable value="#[405]" doc:name="Set the HTTP Status - 405" doc:id="ccb2a20f-eaa6-429d-b84f-6574bdcc7968" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="85039dc6-1baa-449e-8a7a-346d01ffdd40" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="26c36601-73d0-4b4d-8b20-6c260fffb500" >
			<set-variable value="#[406]" doc:name="Set the HTTP Status - 406" doc:id="d1e7f4b5-7646-4465-acd0-11f2d618b8c5" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="afaeae91-e437-4495-aa53-03fab9a3ce0d" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8480a2d2-e140-4a35-9b36-70724f3c16fd" >
			<set-variable value="#[404]" doc:name="Set the HTTP Status - 404" doc:id="3ae365f5-fefc-4e81-a88b-703adacc1faa" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="2d6eac11-fb59-4a91-9b70-6fc6a8aa4dec" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="APIKIT:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7273d1c3-8d5f-4079-b54e-109b3d180fd6" >
			<set-variable value="#[415]" doc:name="Set the HTTP Status - 415" doc:id="d70a4d14-16c6-4fad-baff-e476bf2f3a7f" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="806744b2-fc24-41a0-9daf-6096c23ea4f6" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>	
		
		<!-- DB Related issues -->
		<on-error-continue type="DB:BAD_SQL_SYNTAX" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="14788e25-b011-4066-8590-88948fd85eb5" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="4b5f788f-533c-457d-b2bb-469e79d0547d" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="b206c054-f1b8-49be-b3ae-eb318dd04a28" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f395ecfe-d971-4265-ba69-87d89074a48b" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="68ff1326-6970-4f77-8a99-0d5077b9069c" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="d258fc01-d481-4501-9c44-5e5b0ff8173d" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="DB:QUERY_EXECUTION" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e9a4608f-309e-4151-b83c-13f7adeb0b4b" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="2968a2bf-0c68-4ede-84e3-0d4551c8899e" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="69e36162-1336-4ce2-ba39-5b4a213cf689" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="DB:RETRY_EXHAUSTED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5f4b59f0-ab85-493a-bfb1-b01df8ab83c2" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="1e574954-2a84-4dcd-a6f6-0cf385948d62" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="a0780881-de12-4317-9603-1627d386d500" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
		<!-- HTTP Requster Related error handling -->	
		<on-error-continue type="HTTP:BAD_REQUEST" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bebc6561-dcd5-493f-9bb3-5fc41a67ec0d" >
			<set-variable value="#[400]" doc:name="Set the HTTP Status - 400" doc:id="4b40fae4-3b42-4585-a82e-8f695297046c" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="08791296-15b2-4ce0-b31a-f050168f0304" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:CLIENT_SECURITY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0d8db4e3-07e7-4a4f-8fd3-db016383d064" >
			<set-variable value="#[401]" doc:name="Set the HTTP Status - 401" doc:id="71b397b2-364c-4185-937d-73d3493ed60f" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="ab97090a-adcf-45c8-a625-9b29e5ae4e6d" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b193e2c8-13f0-4ec2-87a2-14988285fb93" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="c7106a06-6b66-4299-aedd-66ad711e6544" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="a656d340-2b75-4234-b7fd-b09010f9e33b" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:FORBIDDEN" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5be49d6f-eac2-4090-a874-9c8e3bc28dc4" >
			<set-variable value="#[403]" doc:name="Set the HTTP Status - 403" doc:id="22ab2408-e3d0-41fa-8a87-6a9169f306bb" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="7bff00e5-f390-43e7-823e-174de70287d9" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:INTERNAL_SERVER_ERROR" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="25682337-1e8c-4570-91e7-c10a026813e1" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="c05b1745-c4ce-4b28-ac94-8daf2c4eca77" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="5ea76004-391f-45e5-8277-6780bebceb17" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7a206f74-cfab-486a-af54-fccacb017c4a" >
			<set-variable value="#[405]" doc:name="Set the HTTP Status - 405" doc:id="7474c603-276a-4fad-aa99-8d9a920164a9" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="f2ede470-98dd-4d13-9326-c7b773db23f4" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:NOT_ACCEPTABLE" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4840d5ac-5eb1-43bc-bdb7-a193a18b4e9c" >
			<set-variable value="#[406]" doc:name="Set the HTTP Status - 406" doc:id="71df3b6e-4b8c-408c-bf53-ecc4d6d0b8b3" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="ac5123f9-1f7b-4479-8aab-2dc30a834213" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:NOT_FOUND" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e9ac0c91-4277-44d5-b37e-385f8e0bee3a" >
			<set-variable value="#[404]" doc:name="Set the HTTP Status - 404" doc:id="9258f5d9-f476-4cc5-8567-bd2fac0a4c26" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="d466fa7f-2143-4c8a-9117-6cc05cae077c" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:PARSING" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4e735c42-3b9f-41c4-a75d-143af30ca528" >
			<set-variable value="#[400]" doc:name="Set the HTTP Status - 400" doc:id="193cf7b3-6d57-49da-ae9a-122bd7ae3de1" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="8c23dfef-b46e-4c2c-a15d-1ffe6e241f70" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:RETRY_EXHAUSTED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d0380023-8dd5-414b-84d4-66df8976a7fd" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="c14ad69d-ae8a-44b8-80bf-6638b5d78f4f" variableName="httpStatus" />
      <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="8bd7ae6e-c947-4f61-8524-888790298e17" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:SECURITY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c096d97f-d8b9-4ba6-8abc-5465ce9abd46" >
			<set-variable value="#[401]" doc:name="Set the HTTP Status - 401" doc:id="33d3855d-5196-4fe8-961a-8820167a98b3" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="63ef80e6-d31b-4d43-97ed-836d7e7b8659" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:TIMEOUT" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2a11bd2e-0874-49a1-86c5-ca521b334f45" >
			<set-variable value="#[504]" doc:name="Set the HTTP Status - 504" doc:id="77530637-7402-44e9-ab12-175d0c71ef87" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="9c40a8cc-01bc-41ac-9cb5-c10559ec45d0" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:TOO_MANY_REQUESTS" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="908216ff-4d5d-4d5c-b7df-c45fe8ffa49b" >
			<set-variable value="#[429]" doc:name="Set the HTTP Status - 429" doc:id="4e119013-eec7-4cce-9e7d-4e5e61f13ec7" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="d0359ade-bd71-4e48-b85f-abe4a0871d7a" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:UNAUTHORIZED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="97615195-5699-4421-b5c5-24ea2ebaa276" >
			<set-variable value="#[403]" doc:name="Set the HTTP Status - 403" doc:id="b05791ac-1d86-4dfe-8d4f-8ac63df060cc" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="1a749b0f-83d5-4ac9-852e-97a274100508" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="HTTP:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6ef996cd-194c-4f2f-971a-1457ae316c01" >
			<set-variable value="#[415]" doc:name="Set the HTTP Status - 415" doc:id="619dc050-855f-4def-90e5-953a155e31b4" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="bad9452b-36aa-40ac-8361-5f5c31807c90" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
		<!-- Streaming related exception -->
		<on-error-continue type="STREAM_MAXIMUM_SIZE_EXCEEDED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="236d0e91-2691-4823-8c68-b8e0efcafe8a" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="a4e19709-b133-4fb7-b2d8-0cc9eedb6a31" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="1ba59843-e004-433a-9022-8f8e1a186f7f" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
		<!-- Generic CONNECTIVITY Related Exception handling start. Order matters -->
		<on-error-continue type="RETRY_EXHAUSTED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b7756141-f7f8-44ac-90c2-259f0274bd6c" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="87eb03f5-26e8-46d8-8f73-04a0d0e43295" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="75843db9-cbfa-4950-9742-b45985d36e09" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="REDELIVERY_EXHAUSTED" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="615eef74-2760-48e8-b28d-7ae57884b86b" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="6deebf72-ceb0-4dee-ba89-e7aa54ef8024" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="c53a66af-14bf-4de6-800c-772c4c0acfee" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="CONNECTIVITY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e41548dd-139c-4475-83be-4ce1d61b5e8e" >
			<set-variable value="#[503]" doc:name="Set the HTTP Status - 503" doc:id="c1fc6f29-9aed-4298-a255-f26ec4242b7e" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="2af9b18b-c4f4-4e42-a1ac-d98c4f4d3ed2" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="TIMEOUT" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cb52852c-26d7-447a-b29c-7679004e821c" >
			<set-variable value="#[504]" doc:name="Set the HTTP Status - 504" doc:id="97c9861c-5354-4d0c-b6f6-b851c46f93d9" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="8a01a3f9-e731-4e06-be29-0086e81a7eee" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<!-- Generic CONNECTIVITY Exception handling end -->
		
		<on-error-continue type="TRANSFORMATION" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="18d82fb5-b14b-42c3-bf24-9aefd544d3ae" >
			<set-variable value="#[400]" doc:name="Set the HTTP Status - 400" doc:id="ed67232f-3bfb-470f-9795-86b3c1136414" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="1aca48ba-dd2b-4fb4-ba0a-ab8078e7f858" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
		<on-error-continue type="SCRIPTING:COMPILATION" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="326908c1-a5b4-494b-997f-add9e93a4f8d" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="776c1ebd-4537-4023-b179-bf2011548732" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="a10c6412-9a9e-4f37-91b2-a43528699ce6" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="SCRIPTING:EXECUTION" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8ecac54f-d681-4184-853b-fb8635746bab" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="db13e2d3-0843-4c1f-9cc6-eec9fb938be0" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="e3d1dd26-baf6-4e69-9e98-9d134638885a" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="SCRIPTING:UNKNOWN_ENGINE" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7416d686-6c43-40b2-afd8-9102997ac794" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="636182f9-9f15-4fb1-b6ca-f891b4c0f54d" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="9b391b08-3adf-43e1-8bc9-ebe75a7651ea" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
		<on-error-continue type="EXPRESSION" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4c43ac83-8831-4492-9d70-0d1cfe3807d7" >
			<set-variable value="#[500]" doc:name="Set the HTTP Status - 500" doc:id="4708c93c-0e72-4f6a-8d0c-f6587d7fcf8b" variableName="httpStatus" />
			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="c5758a6b-b22d-44ed-8c88-df8e1e42f5ca" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>	
		<on-error-continue type="ROUTING" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b39ba18a-a4d3-4ff4-b6a1-56ba4767df00" >
			<set-variable value="#[400]" doc:name="Set the HTTP Status - 400" doc:id="2e7602f4-945c-402c-a678-99d2dba78436" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="fd12248c-fb9d-4fd3-ad6a-781a7d9406aa" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		<on-error-continue type="SECURITY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3e3d0171-ad9f-4d53-94a3-813131e4a827" >
			<set-variable value="#[401]" doc:name="Set the HTTP Status - 401" doc:id="c6077026-9057-4345-b496-dc8500ddd4e4" variableName="httpStatus" />
      			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="20c0b2b1-152c-49d0-91eb-0192760a7344" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
		
		<!-- If none of the above matches then handle a the exception using generic handler -->
		<on-error-continue type="ANY" enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4b32b855-aac5-4d59-acd1-e010be15afca">
			<set-variable value="#[500]" doc:name="Set HTTP Status - 500" variableName="httpStatus"/>
			<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="6dc7653e-79fb-4f40-8a3f-08de0508255d" name="global-prepare-error-response-sub-flow"/>
		</on-error-continue>
		
	</error-handler>
    
    <sub-flow name="global-prepare-error-response-sub-flow" doc:id="749f9c97-2dd6-4a6a-901f-440414f5e349">
		<ee:transform doc:name="Init Variables" doc:id="843b5b0f-3c45-4116-8d7d-5c8662ff4d74" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="errorRaised" ><![CDATA[%dw 2.0
output application/java
---
true]]></ee:set-variable>
				<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/java
---
if(vars.errorMessage?) 
	vars.errorMessage 
else 
	error.exception.message]]></ee:set-variable>
				<ee:set-variable variableName="errorDescription" ><![CDATA[%dw 2.0
output application/java
---
if(vars.errorDescription?) 
	vars.errorDescription 
else 
	error.exception.detailMessage]]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Exception']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'ERROR']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Compose Error Payload" doc:id="fe7669c4-8056-450a-87b7-39bac77a7d4e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error: {
	errorCode: vars.httpStatus,
	errorDateTime: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss" },
	errorMessage: if(vars.errorMessage != null) vars.errorMessage else 'error',
	errorDescription: if(vars.errorDescription != null) vars.errorDescription else 'error'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
        <json-logger:logger doc:name="Logger" doc:id="85b5bf52-e34c-437e-9e74-7e7a2a140855" priority="ERROR" message="Error"/>
    </sub-flow>
	<flow name="declaring_error_in_private_flow" doc:id="1716f6f8-1399-4ee9-9d4d-4a413ddcd499" >
	<raise-error doc:name="Raise error-DB:BAD_SQL_SYNTAX"
		doc:id="6d2af29f-0733-483e-9d22-001f7094ee37" type="DB:BAD_SQL_SYNTAX" />
	<raise-error doc:name="Raise error-DB:QUERY_EXECUTION"
		doc:id="d14da0c3-de93-4fc4-85c0-7145a2d60986"
		type="DB:QUERY_EXECUTION" />
	<raise-error doc:name="Raise error-DB:RETRY_EXHAUSTED"
		doc:id="0645f56e-8611-453d-901d-5eae258a8584"
		type="DB:RETRY_EXHAUSTED" />
	<raise-error doc:name="Raise error-DB:CONNECTIVITY"
		doc:id="10ad6326-17f8-4b2d-bd2d-fa49b2af5122" type="DB:CONNECTIVITY" />
	<raise-error doc:name="Raise error-SCRIPTING:COMPILATION"
		doc:id="90c43d8d-5cee-4bea-98a9-b2e413efa7d1"
		type="SCRIPTING:COMPILATION" />
	<raise-error doc:name="Raise error-SCRIPTING:EXECUTION"
		doc:id="d30a08d4-89cb-4c28-807d-231c95ffe6db"
		type="SCRIPTING:EXECUTION" />
	<raise-error
		doc:name="Raise error-SCRIPTING:UNKNOWN_ENGINE"
		doc:id="4ec60f62-26ff-4290-b93b-e114adc8c616"
		type="SCRIPTING:UNKNOWN_ENGINE" />
<!-- 	<raise-error doc:name="Raise error"
		doc:id="f69d35b5-1550-4078-a877-ec752b80d738" type="DB:CONNECTIVITY" />
 --></flow>
	</mule>
